
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

/* Universal Styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}

/* Section Styles */

h1 {
  color: white;
  display: block;
  margin: 40px  0  0 30px;
  font-weight: bold;
}

p {
  color: white;
  display: block;
  width: 80%;
  margin-left: 30px;
  font-size: 0.9rem;
  line-height: 1.5;
}

button {
  background: #B4B9CF;
  border: 2px solid white;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  width: 120px;
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h3 {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

a {
  text-decoration: none;
}

i {
  color: white; 
}

.fa-file, .fa-at {
  font-size: 0.9rem;
  margin-right: 3px;
}

.resume {
  margin-left: 30px;
}

.name {
  background: #B4B9CF;
  grid-column: 1 / 3;
  grid-row: 1 / 1;
}

.profile {
  background: #DACEAA;
  grid-column: 3 / 4;
  grid-row: 1 / 1;
}

.slideshow {
  background-image: url('assets/profile-img-one.jpg'); 
  background-size: cover;
  grid-column: 4 / 6;
  grid-row: 1 / 4;
}

.experience {
  grid-column: 1 / 2;
  grid-row: 2;
}

.education {
  grid-column: 2 / 3;
  grid-row: 2;
}

.blog {
  grid-column: 3 / 4;
  grid-row: 2;
}

.social {
  grid-column: 1 / 2;
  grid-row: 3;
}

.contact {
  grid-column: 2 / 3;
  grid-row: 3;
}

.portfolio {
  grid-column: 3 / 4;
  grid-row: 3;
}

.experience, .contact {
  background: #4056a1;
}

.education {
  background: #f13c20;
}

.blog {
  background: #B4B9CF;
}

.social, .portfolio {
  background: #d79922;
}

.fa-address-card, .fa-briefcase, .fa-graduation-cap, .fa-edit, .fa-comments, .fa-envelope, .fa-desktop {
  display: block;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 68px;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr 1fr 1fr;
}


/* Media queries */ 

@media screen and (max-width: 800px) {

}



















